In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.19.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\ynels\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.25.0-py3-none-any.whl.metadata (8.7 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ynels\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\ynels\anaconda3\lib\site-packages (from selenium) (4.9.0)
Collecting attrs>=23.2.0 (from trio~=0.17->selenium)
  Downloading attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Requirement already satisfied: sortedcontainers in c:\users\ynels\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ynels\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ynels\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ynels\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ynels\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ynels\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Downloading selenium-4.19.0-py3-none-any.whl (10.5 MB)
   ---------------------------------------- 0.0/10.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.5 MB 2.2 MB/s eta 0:00:05
   - -------------------------------------- 0.5/10.5 MB 5.3 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/10.5 MB 8.8 MB/s eta 0:00:02
   ------- -------------------------------- 2.0/10.5 MB 10.6 MB/s eta 0:00:01
   ----------- ---------------------------- 2.9/10.5 MB 12.3 MB/s eta 0:00:01
   -------------- ------------------------- 3.8/10.5 MB 13.4 MB/s eta 0:00:01
   ------------------ --------------------- 4.9/10.5 MB 15.0 MB/s eta 0:00:01
   ----------------------- ---------------- 6.1/10.5 MB 16.2 MB/s eta 0:00:01
   --------------------------- ------------ 7.3/10.5 MB 17.4 MB/s eta 0:00:01
   -------------------------------- ------- 8.7/10.5 MB 18.5 MB/s eta 0:00:01
   ------------------------------------- -- 9.9/10.5 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------- 10.5/10.5 MB 21.1 MB/s eta 0:00:00
Downloading trio-0.25.0-py3-none-any.whl (467 kB)
   ---------------------------------------- 0.0/467.2 kB ? eta -:--:--
   --------------------------------------- 467.2/467.2 kB 30.5 MB/s eta 0:00:00
Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Downloading attrs-23.2.0-py3-none-any.whl (60 kB)
   ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
   ---------------------------------------- 60.8/60.8 kB 3.4 MB/s eta 0:00:00
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ---------------------------------------- 0.0/58.3 kB ? eta -:--:--
   ---------------------------------------- 58.3/58.3 kB ? eta 0:00:00
Installing collected packages: h11, attrs, wsproto, outcome, trio, trio-websocket, selenium
  Attempting uninstall: attrs
    Found existing installation: attrs 23.1.0
    Uninstalling attrs-23.1.0:
      Successfully uninstalled attrs-23.1.0
Successfully installed attrs-23.2.0 h11-0.14.0 outcome-1.3.0.post0 selenium-4.19.0 trio-0.25.0 trio-websocket-0.11.1 wsproto-1.2.0

In [6]:
#Import relevant libraries 
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver import Edge
from selenium.webdriver.edge.service import Service
from selenium.webdriver.edge.options import Options as EdgeOptions

import re
import time
from datetime import datetime
import pandas as pd

# Capturing Steam Reviews

## Craftopia Steam Reviews

In [24]:
# Get the steam game id and url for the review + filter

game_id = 1307550 #change the id for each game, in this case, id is for a game called [Craftopia]
url_template = "https://steamcommunity.com/app/{}/reviews/?p=1&browsefilter=mostrecent&filterLanguage=english"
url = url_template.format(game_id)

print(url)

https://steamcommunity.com/app/1307550/reviews/?p=1&browsefilter=mostrecent&filterLanguage=english

In [25]:
# Initialize Edge Options, must already have edgedriver application

options = EdgeOptions()
options.use_chromium = True  # Specify using Chromium-based Edge

language = "en-US"
options.add_argument(f"--lang={language}")

# Initialize Edge WebDriver with options
driver = Edge(options=options)

driver.maximize_window()
driver.get(url)

In [26]:
# Function needed to get steam reviews

def get_current_scroll_position(driver):
    return driver.execute_script("return window.pageYOffset;")

def scroll_to_bottom(driver):
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(1)

def get_steam_id(card):
    profile_url = card.find_element(By.XPATH, './/div[@class="apphub_friend_block"]/div/a[2]').get_attribute('href')
    steam_id = profile_url.split('/')[-2]
    return steam_id

def scrape_review_data(card):
    date_posted_element = card.find_element(By.XPATH, './/div[@class="apphub_CardTextContent"]/div[@class="date_posted"]')
    date_posted = date_posted_element.text.strip()
    
    try:
        received_compensation_element = card.find_element(By.CLASS_NAME, "received_compensation").text
    except NoSuchElementException:
        received_compensation_element = ""

    card_text_content_element = card.find_element(By.CLASS_NAME, "apphub_CardTextContent")
    review_content = card_text_content_element.text.strip()
    excluded_elements = [date_posted, received_compensation_element] 

    for excluded_element in excluded_elements:
        review_content = review_content.replace(excluded_element, "")
    review_content = review_content.replace("\n", "")

    review_length = len(review_content.replace(" ", ""))

    thumb_text = card.find_element(By.XPATH, './/div[@class="reviewInfo"]/div[2]').text
    play_hours = card.find_element(By.XPATH, './/div[@class="reviewInfo"]/div[3]').text

    return review_content, thumb_text, review_length, play_hours, date_posted

In [27]:
reviews = []
steam_ids_set = set()
max_scroll_attempts = 5
desired_review_count = 300
current_review_count = 0

try:
    last_position = get_current_scroll_position(driver)
    running = True
    while running:
        cards = driver.find_elements(By.CLASS_NAME, "apphub_Card")
        
        for card in cards[-20:]:  # Process the last 20 cards
            steam_id = get_steam_id(card)
            if steam_id in steam_ids_set:
                continue
            else:
                review = scrape_review_data(card)
                reviews.append(review)
                current_review_count += 1
                if current_review_count >= desired_review_count:
                    running = False
                    break
        
        if not running:
            break
        
        scroll_attempt = 0
        while scroll_attempt < max_scroll_attempts:
            scroll_to_bottom(driver)
            curr_position = get_current_scroll_position(driver)
            
            if curr_position == last_position:
                scroll_attempt += 1
                time.sleep(3)
                
                if curr_position >= 3:
                    running = False
                    break
            else:
                last_position = curr_position
                break
    
except Exception as e:
    print(e)

finally:
    driver.quit()

In [28]:
df = pd.DataFrame(reviews, columns= ['ReviewText', 'Review', 'ReviewLength', 'PlayHours', 'DatePosted'])

In [29]:
df

,ReviewText,Review,ReviewLength,PlayHours,DatePosted
0,EARLY ACCESS REVIEWIt's cool,Recommended,25,112.3 hrs on record,Posted: 4 April
1,EARLY ACCESS REVIEWI love the references and m...,Recommended,132,73.7 hrs on record,Posted: 3 April
2,"EARLY ACCESS REVIEWit's like taking zelda, min...",Recommended,85,6.8 hrs on record,Posted: 2 April
3,EARLY ACCESS REVIEWfun,Recommended,20,12.1 hrs on record,Posted: 1 April
4,"EARLY ACCESS REVIEWThis game is fun, and engag...",Recommended,87,22.3 hrs on record,Posted: 1 April
...,...,...,...,...,...
295,EARLY ACCESS REVIEWive been playing this game ...,Recommended,516,235.0 hrs on record,Posted: January 26
296,EARLY ACCESS REVIEWrest well my sweet prince. ...,Not Recommended,441,8.5 hrs on record,Posted: January 25
297,EARLY ACCESS REVIEWYa'll haven't heard of Scra...,Recommended,341,12.1 hrs on record,Posted: January 25
298,EARLY ACCESS REVIEWI would like to start this ...,Not Recommended,1782,224.2 hrs on record,Posted: January 25
299,EARLY ACCESS REVIEWConsidering the developers ...,Not Recommended,315,27.2 hrs on record,Posted: January 25

In [30]:
df.to_csv('Craftopia.csv', index=False)

## Palworld Steam Reviews

In [21]:
url = url_template.format(1623730)

# Initialize Edge Options, must already have edgedriver application
options = EdgeOptions()
options.use_chromium = True  # Specify using Chromium-based Edge

language = "en-US"
options.add_argument(f"--lang={language}")

# Initialize Edge WebDriver with options
driver = Edge(options=options)

driver.maximize_window()
driver.get(url)

reviews = []
steam_ids_set = set()
max_scroll_attempts = 5
desired_review_count = 300
current_review_count = 0

try:
    last_position = get_current_scroll_position(driver)
    running = True
    while running:
        cards = driver.find_elements(By.CLASS_NAME, "apphub_Card")
        
        for card in cards[-20:]:  # Process the last 20 cards
            steam_id = get_steam_id(card)
            if steam_id in steam_ids_set:
                continue
            else:
                review = scrape_review_data(card)
                reviews.append(review)
                current_review_count += 1
                if current_review_count >= desired_review_count:
                    running = False
                    break
        
        if not running:
            break
        
        scroll_attempt = 0
        while scroll_attempt < max_scroll_attempts:
            scroll_to_bottom(driver)
            curr_position = get_current_scroll_position(driver)
            
            if curr_position == last_position:
                scroll_attempt += 1
                time.sleep(3)
                
                if curr_position >= 3:
                    running = False
                    break
            else:
                last_position = curr_position
                break
    
except Exception as e:
    print(e)

finally:
    driver.quit()

In [22]:
df1 = pd.DataFrame(reviews, columns= ['ReviewText', 'Review', 'ReviewLength', 'PlayHours', 'DatePosted'])
df1

,ReviewText,Review,ReviewLength,PlayHours,DatePosted
0,EARLY ACCESS REVIEWi like,Recommended,22,25.8 hrs on record,Posted: 5 April
1,EARLY ACCESS REVIEWPokemon but better,Recommended,33,10.1 hrs on record,Posted: 5 April
2,EARLY ACCESS REVIEWgood game,Recommended,25,17.8 hrs on record,Posted: 5 April
3,EARLY ACCESS REVIEWYou can kidnap people :),Recommended,37,5.0 hrs on record,Posted: 5 April
4,EARLY ACCESS REVIEWFun game.,Recommended,25,122.1 hrs on record,Posted: 5 April
...,...,...,...,...,...
295,EARLY ACCESS REVIEWslavery like the good oll days,Recommended,42,40.6 hrs on record,Posted: April 5
296,EARLY ACCESS REVIEWCommitted crimes against hu...,Recommended,47,27.3 hrs on record,Posted: April 5
297,EARLY ACCESS REVIEWnfgadcmhzgdsifvghgtdscjydsg...,Recommended,52,176.3 hrs on record,Posted: April 5
298,"EARLY ACCESS REVIEWI love this game, and I spe...",Recommended,191,55.3 hrs on record,Posted: April 5
299,EARLY ACCESS REVIEWI truly cannot begin to exp...,Recommended,398,26.2 hrs on record,Posted: April 5

In [23]:
df1.to_csv('Palworld.csv', index=False)

## Lethal Company Steam Reviews

In [31]:
url = url_template.format(1966720)

# Initialize Edge Options, must already have edgedriver application
options = EdgeOptions()
options.use_chromium = True  # Specify using Chromium-based Edge

language = "en-US"
options.add_argument(f"--lang={language}")

# Initialize Edge WebDriver with options
driver = Edge(options=options)

driver.maximize_window()
driver.get(url)

reviews = []
steam_ids_set = set()
max_scroll_attempts = 5
desired_review_count = 300
current_review_count = 0

try:
    last_position = get_current_scroll_position(driver)
    running = True
    while running:
        cards = driver.find_elements(By.CLASS_NAME, "apphub_Card")
        
        for card in cards[-20:]:  # Process the last 20 cards
            steam_id = get_steam_id(card)
            if steam_id in steam_ids_set:
                continue
            else:
                review = scrape_review_data(card)
                reviews.append(review)
                current_review_count += 1
                if current_review_count >= desired_review_count:
                    running = False
                    break
        
        if not running:
            break
        
        scroll_attempt = 0
        while scroll_attempt < max_scroll_attempts:
            scroll_to_bottom(driver)
            curr_position = get_current_scroll_position(driver)
            
            if curr_position == last_position:
                scroll_attempt += 1
                time.sleep(3)
                
                if curr_position >= 3:
                    running = False
                    break
            else:
                last_position = curr_position
                break
    
except Exception as e:
    print(e)

finally:
    driver.quit()

In [32]:
df2 = pd.DataFrame(reviews, columns= ['ReviewText', 'Review', 'ReviewLength', 'PlayHours', 'DatePosted'])
df2

,ReviewText,Review,ReviewLength,PlayHours,DatePosted
0,EARLY ACCESS REVIEWSimple game with simple cat...,Recommended,68,8.1 hrs on record,Posted: 5 April
1,EARLY ACCESS REVIEWnoo,Recommended,20,19.1 hrs on record,Posted: 5 April
2,EARLY ACCESS REVIEWsigma game,Recommended,26,44.1 hrs on record,Posted: 5 April
3,EARLY ACCESS REVIEWsure,Recommended,21,5.2 hrs on record,Posted: 5 April
4,EARLY ACCESS REVIEWi think this is a fun game ...,Recommended,64,140.7 hrs on record,Posted: 5 April
...,...,...,...,...,...
295,EARLY ACCESS REVIEWLethal Company: A Searing I...,Not Recommended,1661,51.3 hrs on record,Posted: April 5
296,EARLY ACCESS REVIEWhigh impact sexual violence,Recommended,41,151.1 hrs on record,Posted: April 5
297,EARLY ACCESS REVIEWbest game i have played in ...,Recommended,77,95.8 hrs on record,Posted: April 5
298,EARLY ACCESS REVIEWVery fun to play with famil...,Recommended,106,46.8 hrs on record,Posted: April 5
299,EARLY ACCESS REVIEWHEHEHE,Recommended,23,36.5 hrs on record,Posted: April 5

In [33]:
df2.to_csv('LethalCompany.csv', index=False)

# Additional Information

## Craftopia

In [39]:
game_id = 1307550 #change the id for each game, in this case, id is for a game called [Craftopia]
url_template = "https://steamdb.info/app/{}/"
url = url_template.format(game_id)

print(url)

https://steamdb.info/app/1307550/

In [40]:
options = EdgeOptions()
options.use_chromium = True  # Specify using Chromium-based Edge

language = "en-US"
options.add_argument(f"--lang={language}")

# Initialize Edge WebDriver with options
driver = Edge(options=options)

driver.maximize_window()
driver.get(url)

In [41]:
# Extracting the title
title = driver.find_element(By.CSS_SELECTOR, 'h1[itemprop="name"]').text

# Extracting the developer
developer = driver.find_element(By.XPATH, "//td[text()='Developer']/following-sibling::td").text

# Extracting the in-game count
ingame_count = driver.find_element(By.ID, "js-charts-button").find_element(By.TAG_NAME, "div").text

# Extracting tags
tags_elements = driver.find_elements(By.CSS_SELECTOR, ".store-tags a")
tags = [tag.text for tag in tags_elements]

# Extracting categories
categories_elements = driver.find_elements(By.CSS_SELECTOR, ".store-categories a")
categories = [category.text for category in categories_elements]

# Output extracted information
print(f"Title: {title}")
print(f"Developer: {developer}")
print(f"In-Game Count: {ingame_count}")
print(f"Tags: {tags}")
print(f"Categories: {categories}")

# Close the browser
driver.quit()

Title: Craftopia
Developer: Pocketpair
In-Game Count: 400
Tags: ['üåç Open World', 'üîß Crafting', 'üå≤ Survival', 'üïπÔ∏è Multiplayer', 'üåé Open World Survival Craft', 'üé≤ RPG', 'üß± Sandbox', 'üè† Building', 'üë• Online Co-Op', 'üó∫Ô∏è Adventure', 'üí• Action', 'üê§ Early Access', 'ü§ù Co-op', 'üå∏ Anime', 'ü¶π Character Customization', 'üå± Indie', 'üõ°Ô∏è Hack and Slash', 'ü§ñ Automation', 'üë§ Singleplayer', 'üë§ Third Person']
Categories: ['Single-player', 'Online Co-op', 'LAN Co-op', 'Steam Achievements', 'Steam Workshop', 'Remote Play on Tablet', 'Family Sharing', 'Early Access', 'Multi-player', 'Co-op', 'Partial Controller Support']

In [42]:
df_Craftopia = pd.DataFrame({
    "Title": [title],
    "Developer": [developer],
    "In-Game Count": [ingame_count],
    "Tags": [', '.join(tags)],
    "Categories": [', '.join(categories)]
})
df_Craftopia

,Title,Developer,In-Game Count,Tags,Categories
0,Craftopia,Pocketpair,400,"üåç Open World, üîß Crafting, üå≤ Survival, üïπÔ∏è Multi...","Single-player, Online Co-op, LAN Co-op, Steam ..."

In [43]:
df_craftopia = df_craftopia.transpose()
df_craftopia

                                                               0
Title                                                  Craftopia
Developer                                             Pocketpair
In-Game Count                                                400
Tags           üåç Open World, üîß Crafting, üå≤ Survival, üïπÔ∏è Multi...
Categories     Single-player, Online Co-op, LAN Co-op, Steam ...

In [46]:
df_craftopia.to_csv('InfoCraftopia.csv', index=False)

## Palworld

In [44]:
url = url_template.format(1623730)
options = EdgeOptions()
options.use_chromium = True  # Specify using Chromium-based Edge

language = "en-US"
options.add_argument(f"--lang={language}")

# Initialize Edge WebDriver with options
driver = Edge(options=options)

driver.maximize_window()
driver.get(url)

# Extracting the title
title = driver.find_element(By.CSS_SELECTOR, 'h1[itemprop="name"]').text

# Extracting the developer
developer = driver.find_element(By.XPATH, "//td[text()='Developer']/following-sibling::td").text

# Extracting the in-game count
ingame_count = driver.find_element(By.ID, "js-charts-button").find_element(By.TAG_NAME, "div").text

# Extracting tags
tags_elements = driver.find_elements(By.CSS_SELECTOR, ".store-tags a")
tags = [tag.text for tag in tags_elements]

# Extracting categories
categories_elements = driver.find_elements(By.CSS_SELECTOR, ".store-categories a")
categories = [category.text for category in categories_elements]

# Output extracted information
print(f"Title: {title}")
print(f"Developer: {developer}")
print(f"In-Game Count: {ingame_count}")
print(f"Tags: {tags}")
print(f"Categories: {categories}")

# Close the browser
driver.quit()

Title: Palworld
Developer: Pocketpair
In-Game Count: 89,016
Tags: ['üïπÔ∏è Multiplayer', 'üåç Open World', 'ü¶é Creature Collector', 'üå≤ Survival', 'üåé Open World Survival Craft', 'üîß Crafting', 'ü§ù Co-op', 'üó∫Ô∏è Adventure', 'üß± Sandbox', 'üî´ Third-Person Shooter', 'ü§ñ Automation', 'üí• Action', 'üê§ Early Access', 'üé≤ RPG', 'üå∏ Anime', 'üå≤ PvE', 'üßä 3D', 'üå± Indie', 'üéí Looter Shooter', 'üõ°Ô∏è Hack and Slash']
Categories: ['Single-player', 'Online Co-op', 'Steam Achievements', 'Steam Cloud', 'Family Sharing', 'Early Access', 'Multi-player', 'Co-op', 'Full Controller Support', 'DualShock Controllers (USB Only)', 'DualShock Controllers', 'DualSense Controllers (USB Only)', 'DualSense Controllers']

In [47]:
df_palworld = pd.DataFrame({
    "Title": [title],
    "Developer": [developer],
    "In-Game Count": [ingame_count],
    "Tags": [', '.join(tags)],
    "Categories": [', '.join(categories)]
})
df_palworld

,Title,Developer,In-Game Count,Tags,Categories
0,Palworld,Pocketpair,"89,016","üïπÔ∏è Multiplayer, üåç Open World, ü¶é Creature Colle...","Single-player, Online Co-op, Steam Achievement..."

In [48]:
df_palworld = df_palworld.transpose()
df_palworld

                                                               0
Title                                                   Palworld
Developer                                             Pocketpair
In-Game Count                                             89,016
Tags           üïπÔ∏è Multiplayer, üåç Open World, ü¶é Creature Colle...
Categories     Single-player, Online Co-op, Steam Achievement...

In [49]:
df_palworld.to_csv('InfoPalworld.csv', index=False)

## Lethal Company

In [54]:
url = url_template.format(1966720)
options = EdgeOptions()
options.use_chromium = True  # Specify using Chromium-based Edge

language = "en-US"
options.add_argument(f"--lang={language}")

# Initialize Edge WebDriver with options
driver = Edge(options=options)

driver.maximize_window()
driver.get(url)

# Extracting the title
title = driver.find_element(By.CSS_SELECTOR, 'h1[itemprop="name"]').text

# Extracting the developer
developer = driver.find_element(By.XPATH, "//td[text()='Developer']/following-sibling::td").text

# Extracting the in-game count
ingame_count = driver.find_element(By.ID, "js-charts-button").find_element(By.TAG_NAME, "div").text

# Extracting tags
tags_elements = driver.find_elements(By.CSS_SELECTOR, ".store-tags a")
tags = [tag.text for tag in tags_elements]

# Extracting categories
categories_elements = driver.find_elements(By.CSS_SELECTOR, ".store-categories a")
categories = [category.text for category in categories_elements]

# Output extracted information
print(f"Title: {title}")
print(f"Developer: {developer}")
print(f"In-Game Count: {ingame_count}")
print(f"Tags: {tags}")
print(f"Categories: {categories}")

# Close the browser
driver.quit()

Title: Lethal Company
Developer: Zeekerss
In-Game Count: 32,729
Tags: ['üë• Online Co-Op', 'üò± Horror', 'üôå First-Person', 'ü§ù Co-op', 'üéí Survival Horror', 'üï¥ Psychological Horror', 'üó∫ Exploration', 'üöÄ Sci-fi', 'üòÉ Funny', 'üå≤ PvE', 'üå´ Atmospheric', 'üîÄ Procedural Generation', 'üëΩ Aliens', 'üïí Time Management', 'üó∫Ô∏è Adventure', 'üè∞ Dungeon Crawler', 'üí• Action', 'üê§ Early Access', 'üåÑ Action-Adventure', '‚ò†Ô∏è Perma Death']
Categories: ['Single-player', 'Online Co-op', 'Family Sharing', 'Early Access', 'Multi-player', 'Co-op', 'Partial Controller Support']

In [55]:
df_lethal = pd.DataFrame({
    "Title": [title],
    "Developer": [developer],
    "In-Game Count": [ingame_count],
    "Tags": [', '.join(tags)],
    "Categories": [', '.join(categories)]
})
df_lethal

,Title,Developer,In-Game Count,Tags,Categories
0,Lethal Company,Zeekerss,"32,729","üë• Online Co-Op, üò± Horror, üôå First-Person, ü§ù Co...","Single-player, Online Co-op, Family Sharing, E..."

In [56]:
df_lethal = df_lethal.transpose()
df_lethal

                                                               0
Title                                             Lethal Company
Developer                                               Zeekerss
In-Game Count                                             32,729
Tags           üë• Online Co-Op, üò± Horror, üôå First-Person, ü§ù Co...
Categories     Single-player, Online Co-op, Family Sharing, E...

In [57]:
df_lethal.to_csv('InfoLethal.csv', index=False)

# Data about Pricing

## Craftopia

In [59]:
game_id = 1307550 #change the id for each game, in this case, id is for a game called [Craftopia]
url_template = "https://steamdb.info/app/{}/"
url = url_template.format(game_id)

options = EdgeOptions()
options.use_chromium = True  # Specify using Chromium-based Edge

language = "en-US"
options.add_argument(f"--lang={language}")

# Initialize Edge WebDriver with options
driver = Edge(options=options)

driver.maximize_window()
driver.get(url)

In [60]:
# Access the prices table
prices_table = driver.find_element(By.CLASS_NAME, "table-prices")

# Find rows within the table
rows = prices_table.find_elements(By.TAG_NAME, "tr")

# List to hold all price data
price_data = []

for row in rows:
    # Extracting data from each row
    cells = row.find_elements(By.TAG_NAME, "td")
    if len(cells) > 4:  # Ensure the row has the number of expected cells
        currency_data = {
            "Currency": cells[0].text,
            "Current Price": cells[1].text,
            "Converted Price": cells[2].text,
            "Lowest Recorded Price": cells[4].text
        }
        price_data.append(currency_data)

# Output extracted information
for data in price_data:
    print(data)

# Close the browser
driver.quit()

{'Currency': 'British Pound', 'Current Price': '¬£12.59 at -40%', 'Converted Price': '¬£12.59', 'Lowest Recorded Price': '¬£11.69 at -40%'}
{'Currency': 'South Asia - USD', 'Current Price': '$5.09 at -40%', 'Converted Price': '¬£4.02', 'Lowest Recorded Price': '¬£4.02'}
{'Currency': 'Russian Ruble', 'Current Price': '552 ‚ÇΩ at -40%', 'Converted Price': '¬£4.72', 'Lowest Recorded Price': '¬£2.38'}
{'Currency': 'South African Rand', 'Current Price': 'R 138.00 at -40%', 'Converted Price': '¬£5.85', 'Lowest Recorded Price': '¬£3.81'}
{'Currency': 'CIS - U.S. Dollar', 'Current Price': '$7.49 at -40%', 'Converted Price': '¬£5.92', 'Lowest Recorded Price': '¬£5.92'}
{'Currency': 'LATAM - U.S. Dollar', 'Current Price': '$7.49 at -40%', 'Converted Price': '¬£5.92', 'Lowest Recorded Price': '¬£5.92'}
{'Currency': 'MENA - U.S. Dollar', 'Current Price': '$7.49 at -40%', 'Converted Price': '¬£5.92', 'Lowest Recorded Price': '¬£5.92'}
{'Currency': 'Taiwan Dollar', 'Current Price': 'NT$ 244 at -40%', 'Converted Price': '¬£6.01', 'Lowest Recorded Price': '¬£5.57'}
{'Currency': 'Chinese Yuan', 'Current Price': '¬• 55.20 at -40%', 'Converted Price': '¬£6.04', 'Lowest Recorded Price': '¬£5.25'}
{'Currency': 'Malaysian Ringgit', 'Current Price': 'RM36.60 at -40%', 'Converted Price': '¬£6.10', 'Lowest Recorded Price': '¬£4.40'}
{'Currency': 'Vietnamese Dong', 'Current Price': '192500‚Ç´ at -40%', 'Converted Price': '¬£6.10', 'Lowest Recorded Price': '¬£4.18'}
{'Currency': 'Indonesian Rupiah', 'Current Price': 'Rp 124199 at -40%', 'Converted Price': '¬£6.19', 'Lowest Recorded Price': '¬£3.59'}
{'Currency': 'Ukrainian Hryvnia', 'Current Price': '309‚Ç¥ at -40%', 'Converted Price': '¬£6.26', 'Lowest Recorded Price': '¬£3.99'}
{'Currency': 'Indian Rupee', 'Current Price': '‚Çπ 660 at -40%', 'Converted Price': '¬£6.27', 'Lowest Recorded Price': '¬£3.24'}
{'Currency': 'Philippine Peso', 'Current Price': '‚Ç±459.00 at -40%', 'Converted Price': '¬£6.42', 'Lowest Recorded Price': '¬£4.61'}
{'Currency': 'Thai Baht', 'Current Price': '‡∏ø297.00 at -40%', 'Converted Price': '¬£6.42', 'Lowest Recorded Price': '¬£4.14'}
{'Currency': 'Chilean Peso', 'Current Price': 'CLP$ 7800 at -40%', 'Converted Price': '¬£6.50', 'Lowest Recorded Price': '¬£4.75'}
{'Currency': 'Saudi Riyal', 'Current Price': '30.89 SR at -40%', 'Converted Price': '¬£6.51', 'Lowest Recorded Price': '¬£5.05'}
{'Currency': 'Kuwaiti Dinar', 'Current Price': '2.55 KD at -40%', 'Converted Price': '¬£6.56', 'Lowest Recorded Price': '¬£6.56'}
{'Currency': 'Kazakhstani Tenge', 'Current Price': '3840‚Ç∏ at -40%', 'Converted Price': '¬£6.80', 'Lowest Recorded Price': '¬£3.50'}
{'Currency': 'Peruvian Sol', 'Current Price': 'S/.31.80 at -40%', 'Converted Price': '¬£6.83', 'Lowest Recorded Price': '¬£5.80'}
{'Currency': 'Brazilian Real', 'Current Price': 'R$ 44,39 at -40%', 'Converted Price': '¬£6.93', 'Lowest Recorded Price': '¬£4.45'}
{'Currency': 'Qatari Riyal', 'Current Price': '32.99 QR at -40%', 'Converted Price': '¬£7.17', 'Lowest Recorded Price': '¬£6.52'}
{'Currency': 'Colombian Peso', 'Current Price': 'COL$ 35280 at -40%', 'Converted Price': '¬£7.40', 'Lowest Recorded Price': '¬£4.21'}
{'Currency': 'Singapore Dollar', 'Current Price': 'S$13.20 at -40%', 'Converted Price': '¬£7.75', 'Lowest Recorded Price': '¬£7.75'}
{'Currency': 'Mexican Peso', 'Current Price': 'Mex$ 169.79 at -40%', 'Converted Price': '¬£8.15', 'Lowest Recorded Price': '¬£6.74'}
{'Currency': 'U.A.E. Dirham', 'Current Price': '39.60 AED at -40%', 'Converted Price': '¬£8.53', 'Lowest Recorded Price': '¬£8.53'}
{'Currency': 'Japanese Yen', 'Current Price': '¬• 1680 at -40%', 'Converted Price': '¬£8.77', 'Lowest Recorded Price': '¬£8.05'}
{'Currency': 'Uruguayan Peso', 'Current Price': '$U444 at -40%', 'Converted Price': '¬£9.26', 'Lowest Recorded Price': '¬£6.61'}
{'Currency': 'Hong Kong Dollar', 'Current Price': 'HK$ 93.60 at -40%', 'Converted Price': '¬£9.46', 'Lowest Recorded Price': '¬£6.61'}
{'Currency': 'South Korean Won', 'Current Price': '‚Ç© 16200 at -40%', 'Converted Price': '¬£9.48', 'Lowest Recorded Price': '¬£9.13'}
{'Currency': 'Costa Rican Colon', 'Current Price': '‚Ç°6300 at -40%', 'Converted Price': '¬£9.79', 'Lowest Recorded Price': '¬£9.79'}
{'Currency': 'New Zealand Dollar', 'Current Price': 'NZ$ 21.59 at -40%', 'Converted Price': '¬£10.28', 'Lowest Recorded Price': '¬£8.85'}
{'Currency': 'Canadian Dollar', 'Current Price': 'CDN$ 19.50 at -40%', 'Converted Price': '¬£11.36', 'Lowest Recorded Price': '¬£10.13'}
{'Currency': 'Australian Dollar', 'Current Price': 'A$ 21.90 at -40%', 'Converted Price': '¬£11.41', 'Lowest Recorded Price': '¬£11.24'}
{'Currency': 'Israeli New Shekel', 'Current Price': '‚Ç™55.77 at -40%', 'Converted Price': '¬£11.73', 'Lowest Recorded Price': '¬£11.73'}
{'Currency': 'U.S. Dollar', 'Current Price': '$14.99 at -40%', 'Converted Price': '¬£11.86', 'Lowest Recorded Price': '¬£11.86'}
{'Currency': 'Norwegian Krone', 'Current Price': '168,00 kr at -40%', 'Converted Price': '¬£12.41', 'Lowest Recorded Price': '¬£7.80'}
{'Currency': 'Euro', 'Current Price': '14,70‚Ç¨ at -40%', 'Converted Price': '¬£12.61', 'Lowest Recorded Price': '¬£10.80'}
{'Currency': 'Polish Zloty', 'Current Price': '68,99z≈Ç at -40%', 'Converted Price': '¬£13.82', 'Lowest Recorded Price': '¬£10.82'}
{'Currency': 'Swiss Franc', 'Current Price': 'CHF 16.79 at -40%', 'Converted Price': '¬£14.76', 'Lowest Recorded Price': '¬£13.18'}

In [61]:
Craftopia_prices = pd.DataFrame(price_data)
Craftopia_prices

,Currency,Current Price,Converted Price,Lowest Recorded Price
0,British Pound,¬£12.59 at -40%,¬£12.59,¬£11.69 at -40%
1,South Asia - USD,$5.09 at -40%,¬£4.02,¬£4.02
2,Russian Ruble,552 ‚ÇΩ at -40%,¬£4.72,¬£2.38
3,South African Rand,R 138.00 at -40%,¬£5.85,¬£3.81
4,CIS - U.S. Dollar,$7.49 at -40%,¬£5.92,¬£5.92
5,LATAM - U.S. Dollar,$7.49 at -40%,¬£5.92,¬£5.92
6,MENA - U.S. Dollar,$7.49 at -40%,¬£5.92,¬£5.92
7,Taiwan Dollar,NT$ 244 at -40%,¬£6.01,¬£5.57
8,Chinese Yuan,¬• 55.20 at -40%,¬£6.04,¬£5.25
9,Malaysian Ringgit,RM36.60 at -40%,¬£6.10,¬£4.40
10,Vietnamese Dong,192500‚Ç´ at -40%,¬£6.10,¬£4.18
11,Indonesian Rupiah,Rp 124199 at -40%,¬£6.19,¬£3.59
12,Ukrainian Hryvnia,309‚Ç¥ at -40%,¬£6.26,¬£3.99
13,Indian Rupee,‚Çπ 660 at -40%,¬£6.27,¬£3.24
14,Philippine Peso,‚Ç±459.00 at -40%,¬£6.42,¬£4.61
15,Thai Baht,‡∏ø297.00 at -40%,¬£6.42,¬£4.14
16,Chilean Peso,CLP$ 7800 at -40%,¬£6.50,¬£4.75
17,Saudi Riyal,30.89 SR at -40%,¬£6.51,¬£5.05
18,Kuwaiti Dinar,2.55 KD at -40%,¬£6.56,¬£6.56
19,Kazakhstani Tenge,3840‚Ç∏ at -40%,¬£6.80,¬£3.50
20,Peruvian Sol,S/.31.80 at -40%,¬£6.83,¬£5.80
21,Brazilian Real,"R$ 44,39 at -40%",¬£6.93,¬£4.45
22,Qatari Riyal,32.99 QR at -40%,¬£7.17,¬£6.52
23,Colombian Peso,COL$ 35280 at -40%,¬£7.40,¬£4.21
24,Singapore Dollar,S$13.20 at -40%,¬£7.75,¬£7.75
25,Mexican Peso,Mex$ 169.79 at -40%,¬£8.15,¬£6.74
26,U.A.E. Dirham,39.60 AED at -40%,¬£8.53,¬£8.53
27,Japanese Yen,¬• 1680 at -40%,¬£8.77,¬£8.05
28,Uruguayan Peso,$U444 at -40%,¬£9.26,¬£6.61
29,Hong Kong Dollar,HK$ 93.60 at -40%,¬£9.46,¬£6.61
30,South Korean Won,‚Ç© 16200 at -40%,¬£9.48,¬£9.13
31,Costa Rican Colon,‚Ç°6300 at -40%,¬£9.79,¬£9.79
32,New Zealand Dollar,NZ$ 21.59 at -40%,¬£10.28,¬£8.85
33,Canadian Dollar,CDN$ 19.50 at -40%,¬£11.36,¬£10.13
34,Australian Dollar,A$ 21.90 at -40%,¬£11.41,¬£11.24
35,Israeli New Shekel,‚Ç™55.77 at -40%,¬£11.73,¬£11.73
36,U.S. Dollar,$14.99 at -40%,¬£11.86,¬£11.86
37,Norwegian Krone,"168,00 kr at -40%",¬£12.41,¬£7.80
38,Euro,"14,70‚Ç¨ at -40%",¬£12.61,¬£10.80
39,Polish Zloty,"68,99z≈Ç at -40%",¬£13.82,¬£10.82
40,Swiss Franc,CHF 16.79 at -40%,¬£14.76,¬£13.18

In [64]:
Craftopia_prices.to_csv('Craftopia_pricing.csv', index=False)

## Palworld

In [62]:
url = url_template.format(1623730)
options = EdgeOptions()
options.use_chromium = True  # Specify using Chromium-based Edge

language = "en-US"
options.add_argument(f"--lang={language}")

# Initialize Edge WebDriver with options
driver = Edge(options=options)

driver.maximize_window()
driver.get(url)

# Access the prices table
prices_table = driver.find_element(By.CLASS_NAME, "table-prices")

# Find rows within the table
rows = prices_table.find_elements(By.TAG_NAME, "tr")

# List to hold all price data
price_data = []

for row in rows:
    # Extracting data from each row
    cells = row.find_elements(By.TAG_NAME, "td")
    if len(cells) > 4:  # Ensure the row has the number of expected cells
        currency_data = {
            "Currency": cells[0].text,
            "Current Price": cells[1].text,
            "Converted Price": cells[2].text,
            "Lowest Recorded Price": cells[4].text
        }
        price_data.append(currency_data)

# Output extracted information
for data in price_data:
    print(data)

# Close the browser
driver.quit()

{'Currency': 'British Pound', 'Current Price': '¬£22.49 at -10%', 'Converted Price': '¬£22.49', 'Lowest Recorded Price': '¬£22.49 at -10%'}
{'Currency': 'South Asia - USD', 'Current Price': '$9.44 at -10%', 'Converted Price': '¬£7.47', 'Lowest Recorded Price': '¬£7.47'}
{'Currency': 'Russian Ruble', 'Current Price': '990 ‚ÇΩ at -10%', 'Converted Price': '¬£8.47', 'Lowest Recorded Price': '¬£8.47'}
{'Currency': 'South African Rand', 'Current Price': 'R 243.00 at -10%', 'Converted Price': '¬£10.31', 'Lowest Recorded Price': '¬£10.31'}
{'Currency': 'CIS - U.S. Dollar', 'Current Price': '$13.04 at -10%', 'Converted Price': '¬£10.32', 'Lowest Recorded Price': '¬£10.32'}
{'Currency': 'Chinese Yuan', 'Current Price': '¬• 97.20 at -10%', 'Converted Price': '¬£10.63', 'Lowest Recorded Price': '¬£10.63'}
{'Currency': 'LATAM - U.S. Dollar', 'Current Price': '$13.49 at -10%', 'Converted Price': '¬£10.68', 'Lowest Recorded Price': '¬£10.68'}
{'Currency': 'MENA - U.S. Dollar', 'Current Price': '$13.49 at -10%', 'Converted Price': '¬£10.68', 'Lowest Recorded Price': '¬£10.68'}
{'Currency': 'Malaysian Ringgit', 'Current Price': 'RM64.80 at -10%', 'Converted Price': '¬£10.80', 'Lowest Recorded Price': '¬£10.80'}
{'Currency': 'Taiwan Dollar', 'Current Price': 'NT$ 439 at -10%', 'Converted Price': '¬£10.82', 'Lowest Recorded Price': '¬£10.82'}
{'Currency': 'Ukrainian Hryvnia', 'Current Price': '540‚Ç¥ at -10%', 'Converted Price': '¬£10.94', 'Lowest Recorded Price': '¬£10.94'}
{'Currency': 'Vietnamese Dong', 'Current Price': '346500‚Ç´ at -10%', 'Converted Price': '¬£10.98', 'Lowest Recorded Price': '¬£10.98'}
{'Currency': 'Indonesian Rupiah', 'Current Price': 'Rp 221399 at -10%', 'Converted Price': '¬£11.04', 'Lowest Recorded Price': '¬£11.04'}
{'Currency': 'Indian Rupee', 'Current Price': '‚Çπ 1170 at -10%', 'Converted Price': '¬£11.11', 'Lowest Recorded Price': '¬£11.11'}
{'Currency': 'Kuwaiti Dinar', 'Current Price': '4.45 KD at -10%', 'Converted Price': '¬£11.45', 'Lowest Recorded Price': '¬£11.45'}
{'Currency': 'Philippine Peso', 'Current Price': '‚Ç±819.00 at -10%', 'Converted Price': '¬£11.46', 'Lowest Recorded Price': '¬£11.46'}
{'Currency': 'Thai Baht', 'Current Price': '‡∏ø531.00 at -10%', 'Converted Price': '¬£11.49', 'Lowest Recorded Price': '¬£11.49'}
{'Currency': 'Chilean Peso', 'Current Price': 'CLP$ 13950 at -10%', 'Converted Price': '¬£11.64', 'Lowest Recorded Price': '¬£11.64'}
{'Currency': 'Saudi Riyal', 'Current Price': '55.34 SR at -10%', 'Converted Price': '¬£11.68', 'Lowest Recorded Price': '¬£11.68'}
{'Currency': 'Kazakhstani Tenge', 'Current Price': '6840‚Ç∏ at -10%', 'Converted Price': '¬£12.12', 'Lowest Recorded Price': '¬£12.12'}
{'Currency': 'Peruvian Sol', 'Current Price': 'S/.56.70 at -10%', 'Converted Price': '¬£12.18', 'Lowest Recorded Price': '¬£12.18'}
{'Currency': 'Brazilian Real', 'Current Price': 'R$ 80,09 at -10%', 'Converted Price': '¬£12.52', 'Lowest Recorded Price': '¬£12.52'}
{'Currency': 'Qatari Riyal', 'Current Price': '58.49 QR at -10%', 'Converted Price': '¬£12.71', 'Lowest Recorded Price': '¬£12.71'}
{'Currency': 'Colombian Peso', 'Current Price': 'COL$ 63000 at -10%', 'Converted Price': '¬£13.21', 'Lowest Recorded Price': '¬£13.21'}
{'Currency': 'Singapore Dollar', 'Current Price': 'S$23.40 at -10%', 'Converted Price': '¬£13.74', 'Lowest Recorded Price': '¬£13.74'}
{'Currency': 'Mexican Peso', 'Current Price': 'Mex$ 301.49 at -10%', 'Converted Price': '¬£14.47', 'Lowest Recorded Price': '¬£14.47'}
{'Currency': 'U.A.E. Dirham', 'Current Price': '71.10 AED at -10%', 'Converted Price': '¬£15.32', 'Lowest Recorded Price': '¬£15.32'}
{'Currency': 'Japanese Yen', 'Current Price': '¬• 3060 at -10%', 'Converted Price': '¬£15.98', 'Lowest Recorded Price': '¬£15.98'}
{'Currency': 'Uruguayan Peso', 'Current Price': '$U796 at -10%', 'Converted Price': '¬£16.61', 'Lowest Recorded Price': '¬£16.61'}
{'Currency': 'South Korean Won', 'Current Price': '‚Ç© 28800 at -10%', 'Converted Price': '¬£16.86', 'Lowest Recorded Price': '¬£16.86'}
{'Currency': 'Hong Kong Dollar', 'Current Price': 'HK$ 168.30 at -10%', 'Converted Price': '¬£17.02', 'Lowest Recorded Price': '¬£17.02'}
{'Currency': 'Costa Rican Colon', 'Current Price': '‚Ç°11160 at -10%', 'Converted Price': '¬£17.35', 'Lowest Recorded Price': '¬£17.35'}
{'Currency': 'New Zealand Dollar', 'Current Price': 'NZ$ 39.23 at -10%', 'Converted Price': '¬£18.69', 'Lowest Recorded Price': '¬£18.69'}
{'Currency': 'Canadian Dollar', 'Current Price': 'CDN$ 35.09 at -10%', 'Converted Price': '¬£20.45', 'Lowest Recorded Price': '¬£20.45'}
{'Currency': 'Australian Dollar', 'Current Price': 'A$ 39.55 at -10%', 'Converted Price': '¬£20.61', 'Lowest Recorded Price': '¬£20.61'}
{'Currency': 'Israeli New Shekel', 'Current Price': '‚Ç™99.85 at -10%', 'Converted Price': '¬£21.00', 'Lowest Recorded Price': '¬£21.00'}
{'Currency': 'U.S. Dollar', 'Current Price': '$26.99 at -10%', 'Converted Price': '¬£21.36', 'Lowest Recorded Price': '¬£21.36'}
{'Currency': 'Norwegian Krone', 'Current Price': '301,50 kr at -10%', 'Converted Price': '¬£22.27', 'Lowest Recorded Price': '¬£22.27'}
{'Currency': 'Euro', 'Current Price': '26,09‚Ç¨ at -10%', 'Converted Price': '¬£22.39', 'Lowest Recorded Price': '¬£22.39'}
{'Currency': 'Polish Zloty', 'Current Price': '125,09z≈Ç at -10%', 'Converted Price': '¬£25.07', 'Lowest Recorded Price': '¬£25.07'}
{'Currency': 'Swiss Franc', 'Current Price': 'CHF 30.15 at -10%', 'Converted Price': '¬£26.50', 'Lowest Recorded Price': '¬£26.50'}

In [63]:
Palworld_prices = pd.DataFrame(price_data)
Palworld_prices

,Currency,Current Price,Converted Price,Lowest Recorded Price
0,British Pound,¬£22.49 at -10%,¬£22.49,¬£22.49 at -10%
1,South Asia - USD,$9.44 at -10%,¬£7.47,¬£7.47
2,Russian Ruble,990 ‚ÇΩ at -10%,¬£8.47,¬£8.47
3,South African Rand,R 243.00 at -10%,¬£10.31,¬£10.31
4,CIS - U.S. Dollar,$13.04 at -10%,¬£10.32,¬£10.32
5,Chinese Yuan,¬• 97.20 at -10%,¬£10.63,¬£10.63
6,LATAM - U.S. Dollar,$13.49 at -10%,¬£10.68,¬£10.68
7,MENA - U.S. Dollar,$13.49 at -10%,¬£10.68,¬£10.68
8,Malaysian Ringgit,RM64.80 at -10%,¬£10.80,¬£10.80
9,Taiwan Dollar,NT$ 439 at -10%,¬£10.82,¬£10.82
10,Ukrainian Hryvnia,540‚Ç¥ at -10%,¬£10.94,¬£10.94
11,Vietnamese Dong,346500‚Ç´ at -10%,¬£10.98,¬£10.98
12,Indonesian Rupiah,Rp 221399 at -10%,¬£11.04,¬£11.04
13,Indian Rupee,‚Çπ 1170 at -10%,¬£11.11,¬£11.11
14,Kuwaiti Dinar,4.45 KD at -10%,¬£11.45,¬£11.45
15,Philippine Peso,‚Ç±819.00 at -10%,¬£11.46,¬£11.46
16,Thai Baht,‡∏ø531.00 at -10%,¬£11.49,¬£11.49
17,Chilean Peso,CLP$ 13950 at -10%,¬£11.64,¬£11.64
18,Saudi Riyal,55.34 SR at -10%,¬£11.68,¬£11.68
19,Kazakhstani Tenge,6840‚Ç∏ at -10%,¬£12.12,¬£12.12
20,Peruvian Sol,S/.56.70 at -10%,¬£12.18,¬£12.18
21,Brazilian Real,"R$ 80,09 at -10%",¬£12.52,¬£12.52
22,Qatari Riyal,58.49 QR at -10%,¬£12.71,¬£12.71
23,Colombian Peso,COL$ 63000 at -10%,¬£13.21,¬£13.21
24,Singapore Dollar,S$23.40 at -10%,¬£13.74,¬£13.74
25,Mexican Peso,Mex$ 301.49 at -10%,¬£14.47,¬£14.47
26,U.A.E. Dirham,71.10 AED at -10%,¬£15.32,¬£15.32
27,Japanese Yen,¬• 3060 at -10%,¬£15.98,¬£15.98
28,Uruguayan Peso,$U796 at -10%,¬£16.61,¬£16.61
29,South Korean Won,‚Ç© 28800 at -10%,¬£16.86,¬£16.86
30,Hong Kong Dollar,HK$ 168.30 at -10%,¬£17.02,¬£17.02
31,Costa Rican Colon,‚Ç°11160 at -10%,¬£17.35,¬£17.35
32,New Zealand Dollar,NZ$ 39.23 at -10%,¬£18.69,¬£18.69
33,Canadian Dollar,CDN$ 35.09 at -10%,¬£20.45,¬£20.45
34,Australian Dollar,A$ 39.55 at -10%,¬£20.61,¬£20.61
35,Israeli New Shekel,‚Ç™99.85 at -10%,¬£21.00,¬£21.00
36,U.S. Dollar,$26.99 at -10%,¬£21.36,¬£21.36
37,Norwegian Krone,"301,50 kr at -10%",¬£22.27,¬£22.27
38,Euro,"26,09‚Ç¨ at -10%",¬£22.39,¬£22.39
39,Polish Zloty,"125,09z≈Ç at -10%",¬£25.07,¬£25.07
40,Swiss Franc,CHF 30.15 at -10%,¬£26.50,¬£26.50

In [65]:
Palworld_prices.to_csv('Palworld_pricing.csv', index=False)

## Lethal Company

In [66]:
url = url_template.format(1966720)
options = EdgeOptions()
options.use_chromium = True  # Specify using Chromium-based Edge

language = "en-US"
options.add_argument(f"--lang={language}")

# Initialize Edge WebDriver with options
driver = Edge(options=options)

driver.maximize_window()
driver.get(url)

# Access the prices table
prices_table = driver.find_element(By.CLASS_NAME, "table-prices")

# Find rows within the table
rows = prices_table.find_elements(By.TAG_NAME, "tr")

# List to hold all price data
price_data = []

for row in rows:
    # Extracting data from each row
    cells = row.find_elements(By.TAG_NAME, "td")
    if len(cells) > 4:  # Ensure the row has the number of expected cells
        currency_data = {
            "Currency": cells[0].text,
            "Current Price": cells[1].text,
            "Converted Price": cells[2].text,
            "Lowest Recorded Price": cells[4].text
        }
        price_data.append(currency_data)

# Output extracted information
for data in price_data:
    print(data)

# Close the browser
driver.quit()

{'Currency': 'British Pound', 'Current Price': '¬£8.50', 'Converted Price': '¬£8.50', 'Lowest Recorded Price': '¬£5.95 at -30%'}
{'Currency': 'Russian Ruble', 'Current Price': '385 ‚ÇΩ', 'Converted Price': '¬£3.29', 'Lowest Recorded Price': '¬£2.30'}
{'Currency': 'South African Rand', 'Current Price': 'R 100.00', 'Converted Price': '¬£4.24', 'Lowest Recorded Price': '¬£2.97'}
{'Currency': 'South Asia - USD', 'Current Price': '$5.49', 'Converted Price': '¬£4.34', 'Lowest Recorded Price': '¬£3.04'}
{'Currency': 'Malaysian Ringgit', 'Current Price': 'RM26.75', 'Converted Price': '¬£4.46', 'Lowest Recorded Price': '¬£3.12'}
{'Currency': 'Vietnamese Dong', 'Current Price': '142000‚Ç´', 'Converted Price': '¬£4.50', 'Lowest Recorded Price': '¬£3.15'}
{'Currency': 'Indonesian Rupiah', 'Current Price': 'Rp 90999', 'Converted Price': '¬£4.53', 'Lowest Recorded Price': '¬£3.17'}
{'Currency': 'Ukrainian Hryvnia', 'Current Price': '225‚Ç¥', 'Converted Price': '¬£4.55', 'Lowest Recorded Price': '¬£3.18'}
{'Currency': 'Indian Rupee', 'Current Price': '‚Çπ 480', 'Converted Price': '¬£4.56', 'Lowest Recorded Price': '¬£3.19'}
{'Currency': 'LATAM - U.S. Dollar', 'Current Price': '$5.79', 'Converted Price': '¬£4.58', 'Lowest Recorded Price': '¬£3.20'}
{'Currency': 'MENA - U.S. Dollar', 'Current Price': '$5.79', 'Converted Price': '¬£4.58', 'Lowest Recorded Price': '¬£3.20'}
{'Currency': 'Chinese Yuan', 'Current Price': '¬• 42', 'Converted Price': '¬£4.59', 'Lowest Recorded Price': '¬£3.21'}
{'Currency': 'Taiwan Dollar', 'Current Price': 'NT$ 188', 'Converted Price': '¬£4.63', 'Lowest Recorded Price': '¬£3.23'}
{'Currency': 'Philippine Peso', 'Current Price': '‚Ç±335.00', 'Converted Price': '¬£4.68', 'Lowest Recorded Price': '¬£3.28'}
{'Currency': 'Saudi Riyal', 'Current Price': '22.49 SR', 'Converted Price': '¬£4.74', 'Lowest Recorded Price': '¬£3.32'}
{'Currency': 'Thai Baht', 'Current Price': '‡∏ø220.00', 'Converted Price': '¬£4.76', 'Lowest Recorded Price': '¬£3.33'}
{'Currency': 'Chilean Peso', 'Current Price': 'CLP$ 5750', 'Converted Price': '¬£4.79', 'Lowest Recorded Price': '¬£3.35'}
{'Currency': 'Peruvian Sol', 'Current Price': 'S/.23.00', 'Converted Price': '¬£4.94', 'Lowest Recorded Price': '¬£3.46'}
{'Currency': 'CIS - U.S. Dollar', 'Current Price': '$6.29', 'Converted Price': '¬£4.97', 'Lowest Recorded Price': '¬£3.48'}
{'Currency': 'Kuwaiti Dinar', 'Current Price': '1.95 KD', 'Converted Price': '¬£5.02', 'Lowest Recorded Price': '¬£3.50'}
{'Currency': 'Kazakhstani Tenge', 'Current Price': '2900‚Ç∏', 'Converted Price': '¬£5.14', 'Lowest Recorded Price': '¬£3.59'}
{'Currency': 'Brazilian Real', 'Current Price': 'R$ 32,99', 'Converted Price': '¬£5.15', 'Lowest Recorded Price': '¬£3.60'}
{'Currency': 'Qatari Riyal', 'Current Price': '24.99 QR', 'Converted Price': '¬£5.43', 'Lowest Recorded Price': '¬£3.80'}
{'Currency': 'Colombian Peso', 'Current Price': 'COL$ 26000', 'Converted Price': '¬£5.45', 'Lowest Recorded Price': '¬£3.81'}
{'Currency': 'Singapore Dollar', 'Current Price': 'S$10.00', 'Converted Price': '¬£5.87', 'Lowest Recorded Price': '¬£4.11'}
{'Currency': 'Mexican Peso', 'Current Price': 'Mex$ 123.99', 'Converted Price': '¬£5.95', 'Lowest Recorded Price': '¬£4.16'}
{'Currency': 'U.A.E. Dirham', 'Current Price': '29.00 AED', 'Converted Price': '¬£6.25', 'Lowest Recorded Price': '¬£4.37'}
{'Currency': 'Japanese Yen', 'Current Price': '¬• 1200', 'Converted Price': '¬£6.26', 'Lowest Recorded Price': '¬£4.38'}
{'Currency': 'South Korean Won', 'Current Price': '‚Ç© 11000', 'Converted Price': '¬£6.44', 'Lowest Recorded Price': '¬£4.50'}
{'Currency': 'Uruguayan Peso', 'Current Price': '$U310', 'Converted Price': '¬£6.46', 'Lowest Recorded Price': '¬£4.52'}
{'Currency': 'Hong Kong Dollar', 'Current Price': 'HK$ 66.00', 'Converted Price': '¬£6.67', 'Lowest Recorded Price': '¬£4.67'}
{'Currency': 'New Zealand Dollar', 'Current Price': 'NZ$ 14.75', 'Converted Price': '¬£7.02', 'Lowest Recorded Price': '¬£4.91'}
{'Currency': 'Costa Rican Colon', 'Current Price': '‚Ç°4600', 'Converted Price': '¬£7.15', 'Lowest Recorded Price': '¬£5.00'}
{'Currency': 'Australian Dollar', 'Current Price': 'A$ 14.50', 'Converted Price': '¬£7.55', 'Lowest Recorded Price': '¬£5.29'}
{'Currency': 'Canadian Dollar', 'Current Price': 'CDN$ 12.99', 'Converted Price': '¬£7.57', 'Lowest Recorded Price': '¬£5.29'}
{'Currency': 'Israeli New Shekel', 'Current Price': '‚Ç™36.95', 'Converted Price': '¬£7.77', 'Lowest Recorded Price': '¬£5.44'}
{'Currency': 'U.S. Dollar', 'Current Price': '$9.99', 'Converted Price': '¬£7.90', 'Lowest Recorded Price': '¬£5.53'}
{'Currency': 'Norwegian Krone', 'Current Price': '110,00 kr', 'Converted Price': '¬£8.12', 'Lowest Recorded Price': '¬£5.68'}
{'Currency': 'Euro', 'Current Price': '9,75‚Ç¨', 'Converted Price': '¬£8.36', 'Lowest Recorded Price': '¬£5.85'}
{'Currency': 'Polish Zloty', 'Current Price': '45,99z≈Ç', 'Converted Price': '¬£9.21', 'Lowest Recorded Price': '¬£6.45'}
{'Currency': 'Swiss Franc', 'Current Price': 'CHF 10.99', 'Converted Price': '¬£9.66', 'Lowest Recorded Price': '¬£6.76'}

In [69]:
Lethal_prices = pd.DataFrame(price_data)
Lethal_prices

               Currency Current Price Converted Price Lowest Recorded Price
0         British Pound         ¬£8.50           ¬£8.50         ¬£5.95 at -30%
1         Russian Ruble         385 ‚ÇΩ           ¬£3.29                 ¬£2.30
2    South African Rand      R 100.00           ¬£4.24                 ¬£2.97
3      South Asia - USD         $5.49           ¬£4.34                 ¬£3.04
4     Malaysian Ringgit       RM26.75           ¬£4.46                 ¬£3.12
5       Vietnamese Dong       142000‚Ç´           ¬£4.50                 ¬£3.15
6     Indonesian Rupiah      Rp 90999           ¬£4.53                 ¬£3.17
7     Ukrainian Hryvnia          225‚Ç¥           ¬£4.55                 ¬£3.18
8          Indian Rupee         ‚Çπ 480           ¬£4.56                 ¬£3.19
9   LATAM - U.S. Dollar         $5.79           ¬£4.58                 ¬£3.20
10   MENA - U.S. Dollar         $5.79           ¬£4.58                 ¬£3.20
11         Chinese Yuan          ¬• 42           ¬£4.59                 ¬£3.21
12        Taiwan Dollar       NT$ 188           ¬£4.63                 ¬£3.23
13      Philippine Peso       ‚Ç±335.00           ¬£4.68                 ¬£3.28
14          Saudi Riyal      22.49 SR           ¬£4.74                 ¬£3.32
15            Thai Baht       ‡∏ø220.00           ¬£4.76                 ¬£3.33
16         Chilean Peso     CLP$ 5750           ¬£4.79                 ¬£3.35
17         Peruvian Sol      S/.23.00           ¬£4.94                 ¬£3.46
18    CIS - U.S. Dollar         $6.29           ¬£4.97                 ¬£3.48
19        Kuwaiti Dinar       1.95 KD           ¬£5.02                 ¬£3.50
20    Kazakhstani Tenge         2900‚Ç∏           ¬£5.14                 ¬£3.59
21       Brazilian Real      R$ 32,99           ¬£5.15                 ¬£3.60
22         Qatari Riyal      24.99 QR           ¬£5.43                 ¬£3.80
23       Colombian Peso    COL$ 26000           ¬£5.45                 ¬£3.81
24     Singapore Dollar       S$10.00           ¬£5.87                 ¬£4.11
25         Mexican Peso   Mex$ 123.99           ¬£5.95                 ¬£4.16
26        U.A.E. Dirham     29.00 AED           ¬£6.25                 ¬£4.37
27         Japanese Yen        ¬• 1200           ¬£6.26                 ¬£4.38
28     South Korean Won       ‚Ç© 11000           ¬£6.44                 ¬£4.50
29       Uruguayan Peso         $U310           ¬£6.46                 ¬£4.52
30     Hong Kong Dollar     HK$ 66.00           ¬£6.67                 ¬£4.67
31   New Zealand Dollar     NZ$ 14.75           ¬£7.02                 ¬£4.91
32    Costa Rican Colon         ‚Ç°4600           ¬£7.15                 ¬£5.00
33    Australian Dollar      A$ 14.50           ¬£7.55                 ¬£5.29
34      Canadian Dollar    CDN$ 12.99           ¬£7.57                 ¬£5.29
35   Israeli New Shekel        ‚Ç™36.95           ¬£7.77                 ¬£5.44
36          U.S. Dollar         $9.99           ¬£7.90                 ¬£5.53
37      Norwegian Krone     110,00 kr           ¬£8.12                 ¬£5.68
38                 Euro         9,75‚Ç¨           ¬£8.36                 ¬£5.85
39         Polish Zloty       45,99z≈Ç           ¬£9.21                 ¬£6.45
40          Swiss Franc     CHF 10.99           ¬£9.66                 ¬£6.76

In [68]:
Lethal_prices.to_csv('Lethal_pricing.csv', index=False)