In [1]:
#Import Relevant Libraries
import pandas as pd
import numpy as np

# Clean the review data

In [2]:
df_palworld = pd.read_csv(r'..\Web Scraping\Palworld.csv')
df_craftopia = pd.read_csv(r'..\Web Scraping\Craftopia.csv')
df_lethal = pd.read_csv(r'..\Web Scraping\LethalCompany.csv')

In [3]:
df_palworld.head()

,ReviewText,Review,ReviewLength,PlayHours,DatePosted
0,EARLY ACCESS REVIEWi like,Recommended,22,25.8 hrs on record,Posted: 5 April
1,EARLY ACCESS REVIEWPokemon but better,Recommended,33,10.1 hrs on record,Posted: 5 April
2,EARLY ACCESS REVIEWgood game,Recommended,25,17.8 hrs on record,Posted: 5 April
3,EARLY ACCESS REVIEWYou can kidnap people :),Recommended,37,5.0 hrs on record,Posted: 5 April
4,EARLY ACCESS REVIEWFun game.,Recommended,25,122.1 hrs on record,Posted: 5 April

In [4]:
df_palworld['ReviewText'] = df_palworld['ReviewText'].str.replace('EARLY ACCESS REVIEW', '')
df_palworld.head()

,ReviewText,Review,ReviewLength,PlayHours,DatePosted
0,i like,Recommended,22,25.8 hrs on record,Posted: 5 April
1,Pokemon but better,Recommended,33,10.1 hrs on record,Posted: 5 April
2,good game,Recommended,25,17.8 hrs on record,Posted: 5 April
3,You can kidnap people :),Recommended,37,5.0 hrs on record,Posted: 5 April
4,Fun game.,Recommended,25,122.1 hrs on record,Posted: 5 April

In [5]:
# Remove duplicates from df_palworld
df_palworld = df_palworld.drop_duplicates()

# Reset the index of the DataFrame
df_palworld.reset_index(drop=True, inplace=True)

df_palworld

,ReviewText,Review,ReviewLength,PlayHours,DatePosted
0,i like,Recommended,22,25.8 hrs on record,Posted: 5 April
1,Pokemon but better,Recommended,33,10.1 hrs on record,Posted: 5 April
2,good game,Recommended,25,17.8 hrs on record,Posted: 5 April
3,You can kidnap people :),Recommended,37,5.0 hrs on record,Posted: 5 April
4,Fun game.,Recommended,25,122.1 hrs on record,Posted: 5 April
...,...,...,...,...,...
145,really fun to acomplish many things,Recommended,47,50.1 hrs on record,Posted: April 5
146,Nerfs killed the game,Not Recommended,35,219.1 hrs on record,Posted: April 5
147,its pokemon with guns where you can make sweat...,Recommended,74,47.1 hrs on record,Posted: April 5
148,It's worlds of fun!,Recommended,33,129.5 hrs on record,Posted: April 5
149,good guns and the pals are good. lots of fun b...,Recommended,143,26.5 hrs on record,Posted: April 5

In [6]:
df_craftopia.head()

,ReviewText,Review,ReviewLength,PlayHours,DatePosted
0,EARLY ACCESS REVIEWIt's cool,Recommended,25,112.3 hrs on record,Posted: 4 April
1,EARLY ACCESS REVIEWI love the references and m...,Recommended,132,73.7 hrs on record,Posted: 3 April
2,"EARLY ACCESS REVIEWit's like taking zelda, min...",Recommended,85,6.8 hrs on record,Posted: 2 April
3,EARLY ACCESS REVIEWfun,Recommended,20,12.1 hrs on record,Posted: 1 April
4,"EARLY ACCESS REVIEWThis game is fun, and engag...",Recommended,87,22.3 hrs on record,Posted: 1 April

In [7]:
df_craftopia['ReviewText'] = df_craftopia['ReviewText'].str.replace('EARLY ACCESS REVIEW', '')

# Remove duplicates from df_palworld
df_craftopia = df_craftopia.drop_duplicates()

# Reset the index of the DataFrame
df_craftopia.reset_index(drop=True, inplace=True)

df_craftopia

,ReviewText,Review,ReviewLength,PlayHours,DatePosted
0,It's cool,Recommended,25,112.3 hrs on record,Posted: 4 April
1,I love the references and mechanics from other...,Recommended,132,73.7 hrs on record,Posted: 3 April
2,"it's like taking zelda, minecraft, and pokemon...",Recommended,85,6.8 hrs on record,Posted: 2 April
3,fun,Recommended,20,12.1 hrs on record,Posted: 1 April
4,"This game is fun, and engaging, if a bit grind...",Recommended,87,22.3 hrs on record,Posted: 1 April
...,...,...,...,...,...
145,ive been playing this game off and on for year...,Recommended,516,235.0 hrs on record,Posted: January 26
146,rest well my sweet prince. you were so fun bef...,Not Recommended,441,8.5 hrs on record,Posted: January 25
147,Ya'll haven't heard of Scrap Mechanic if you t...,Recommended,341,12.1 hrs on record,Posted: January 25
148,I would like to start this review by stating t...,Not Recommended,1782,224.2 hrs on record,Posted: January 25
149,Considering the developers currently have 3 ea...,Not Recommended,315,27.2 hrs on record,Posted: January 25

In [8]:
df_lethal['ReviewText'] = df_lethal['ReviewText'].str.replace('EARLY ACCESS REVIEW', '')

# Remove duplicates from df_palworld
df_lethal = df_lethal.drop_duplicates()

# Reset the index of the DataFrame
df_lethal.reset_index(drop=True, inplace=True)

df_lethal

,ReviewText,Review,ReviewLength,PlayHours,DatePosted
0,Simple game with simple catch. Fun only with c...,Recommended,68,8.1 hrs on record,Posted: 5 April
1,noo,Recommended,20,19.1 hrs on record,Posted: 5 April
2,sigma game,Recommended,26,44.1 hrs on record,Posted: 5 April
3,sure,Recommended,21,5.2 hrs on record,Posted: 5 April
4,i think this is a fun game to play with friend...,Recommended,64,140.7 hrs on record,Posted: 5 April
...,...,...,...,...,...
145,Lethal Company: A Searing Indictment of Wester...,Not Recommended,1661,51.3 hrs on record,Posted: April 5
146,high impact sexual violence,Recommended,41,151.1 hrs on record,Posted: April 5
147,"best game i have played in a long time, do you...",Recommended,77,95.8 hrs on record,Posted: April 5
148,Very fun to play with family and friends alike...,Recommended,106,46.8 hrs on record,Posted: April 5
149,HEHEHE,Recommended,23,36.5 hrs on record,Posted: April 5

In [9]:
# Add a 'Game' column to each DataFrame
df_lethal['Game'] = 'Lethal Companies'
df_palworld['Game'] = 'Palworld'
df_craftopia['Game'] = 'Craftopia'

df_combined = pd.concat([df_lethal, df_palworld, df_craftopia], ignore_index=True)
df_combined

,ReviewText,Review,ReviewLength,PlayHours,DatePosted,Game
0,Simple game with simple catch. Fun only with c...,Recommended,68,8.1 hrs on record,Posted: 5 April,Lethal Companies
1,noo,Recommended,20,19.1 hrs on record,Posted: 5 April,Lethal Companies
2,sigma game,Recommended,26,44.1 hrs on record,Posted: 5 April,Lethal Companies
3,sure,Recommended,21,5.2 hrs on record,Posted: 5 April,Lethal Companies
4,i think this is a fun game to play with friend...,Recommended,64,140.7 hrs on record,Posted: 5 April,Lethal Companies
...,...,...,...,...,...,...
445,ive been playing this game off and on for year...,Recommended,516,235.0 hrs on record,Posted: January 26,Craftopia
446,rest well my sweet prince. you were so fun bef...,Not Recommended,441,8.5 hrs on record,Posted: January 25,Craftopia
447,Ya'll haven't heard of Scrap Mechanic if you t...,Recommended,341,12.1 hrs on record,Posted: January 25,Craftopia
448,I would like to start this review by stating t...,Not Recommended,1782,224.2 hrs on record,Posted: January 25,Craftopia
449,Considering the developers currently have 3 ea...,Not Recommended,315,27.2 hrs on record,Posted: January 25,Craftopia

# Clean Info Data

In [10]:
info_palworld = pd.read_csv(r'..\Web Scraping\InfoPalworld.csv')
info_craftopia = pd.read_csv(r'..\Web Scraping\InfoCraftopia.csv')
info_lethal = pd.read_csv(r'..\Web Scraping\InfoLethal.csv')

In [11]:
info_palworld

                                                   0
0                                           Palworld
1                                         Pocketpair
2                                             89,016
3  🕹️ Multiplayer, 🌍 Open World, 🦎 Creature Colle...
4  Single-player, Online Co-op, Steam Achievement...

In [12]:
info_palworld = info_palworld.transpose()

# Rename columns to correct headers
info_palworld.columns = ['Title', 'Developer', 'In-Game Count', 'Tags', 'Categories']
info_palworld

,Title,Developer,In-Game Count,Tags,Categories
0,Palworld,Pocketpair,"89,016","🕹️ Multiplayer, 🌍 Open World, 🦎 Creature Colle...","Single-player, Online Co-op, Steam Achievement..."

In [13]:
info_craftopia = info_craftopia.transpose()

# Rename columns to correct headers
info_craftopia.columns = ['Title', 'Developer', 'In-Game Count', 'Tags', 'Categories']
info_craftopia

,Title,Developer,In-Game Count,Tags,Categories
0,Craftopia,Pocketpair,400,"🌍 Open World, 🔧 Crafting, 🌲 Survival, 🕹️ Multi...","Single-player, Online Co-op, LAN Co-op, Steam ..."

In [14]:
info_lethal = info_lethal.transpose()

# Rename columns to correct headers
info_lethal.columns = ['Title', 'Developer', 'In-Game Count', 'Tags', 'Categories']
info_lethal

,Title,Developer,In-Game Count,Tags,Categories
0,Lethal Company,Zeekerss,"32,729","👥 Online Co-Op, 😱 Horror, 🙌 First-Person, 🤝 Co...","Single-player, Online Co-op, Family Sharing, E..."

In [15]:
# Combine all DataFrames into one and remove symbols
combined_info = pd.concat([info_lethal, info_craftopia, info_palworld], ignore_index=True)
combined_info['Tags'] = combined_info['Tags'].str.replace(r'[^\w\s,]', '', regex=True)

# Convert 'In-Game Count' to integer
combined_info['In-Game Count'] = combined_info['In-Game Count'].str.replace(',', '').astype(int)
combined_info

,Title,Developer,In-Game Count,Tags,Categories
0,Lethal Company,Zeekerss,32729,"Online CoOp, Horror, FirstPerson, Coop, S...","Single-player, Online Co-op, Family Sharing, E..."
1,Craftopia,Pocketpair,400,"Open World, Crafting, Survival, Multiplaye...","Single-player, Online Co-op, LAN Co-op, Steam ..."
2,Palworld,Pocketpair,89016,"Multiplayer, Open World, Creature Collector...","Single-player, Online Co-op, Steam Achievement..."

# Clean Pricing Data

In [16]:
pricing_palworld = pd.read_csv(r'..\Web Scraping\Palworld_pricing.csv')
pricing_craftopia = pd.read_csv(r'..\Web Scraping\Craftopia_pricing.csv')
pricing_lethal = pd.read_csv(r'..\Web Scraping\Lethal_pricing.csv')

In [17]:
pricing_palworld

,Currency,Current Price,Converted Price,Lowest Recorded Price
0,British Pound,£22.49 at -10%,£22.49,£22.49 at -10%
1,South Asia - USD,$9.44 at -10%,£7.47,£7.47
2,Russian Ruble,990 ₽ at -10%,£8.47,£8.47
3,South African Rand,R 243.00 at -10%,£10.31,£10.31
4,CIS - U.S. Dollar,$13.04 at -10%,£10.32,£10.32
5,Chinese Yuan,¥ 97.20 at -10%,£10.63,£10.63
6,LATAM - U.S. Dollar,$13.49 at -10%,£10.68,£10.68
7,MENA - U.S. Dollar,$13.49 at -10%,£10.68,£10.68
8,Malaysian Ringgit,RM64.80 at -10%,£10.80,£10.80
9,Taiwan Dollar,NT$ 439 at -10%,£10.82,£10.82
10,Ukrainian Hryvnia,540₴ at -10%,£10.94,£10.94
11,Vietnamese Dong,346500₫ at -10%,£10.98,£10.98
12,Indonesian Rupiah,Rp 221399 at -10%,£11.04,£11.04
13,Indian Rupee,₹ 1170 at -10%,£11.11,£11.11
14,Kuwaiti Dinar,4.45 KD at -10%,£11.45,£11.45
15,Philippine Peso,₱819.00 at -10%,£11.46,£11.46
16,Thai Baht,฿531.00 at -10%,£11.49,£11.49
17,Chilean Peso,CLP$ 13950 at -10%,£11.64,£11.64
18,Saudi Riyal,55.34 SR at -10%,£11.68,£11.68
19,Kazakhstani Tenge,6840₸ at -10%,£12.12,£12.12
20,Peruvian Sol,S/.56.70 at -10%,£12.18,£12.18
21,Brazilian Real,"R$ 80,09 at -10%",£12.52,£12.52
22,Qatari Riyal,58.49 QR at -10%,£12.71,£12.71
23,Colombian Peso,COL$ 63000 at -10%,£13.21,£13.21
24,Singapore Dollar,S$23.40 at -10%,£13.74,£13.74
25,Mexican Peso,Mex$ 301.49 at -10%,£14.47,£14.47
26,U.A.E. Dirham,71.10 AED at -10%,£15.32,£15.32
27,Japanese Yen,¥ 3060 at -10%,£15.98,£15.98
28,Uruguayan Peso,$U796 at -10%,£16.61,£16.61
29,South Korean Won,₩ 28800 at -10%,£16.86,£16.86
30,Hong Kong Dollar,HK$ 168.30 at -10%,£17.02,£17.02
31,Costa Rican Colon,₡11160 at -10%,£17.35,£17.35
32,New Zealand Dollar,NZ$ 39.23 at -10%,£18.69,£18.69
33,Canadian Dollar,CDN$ 35.09 at -10%,£20.45,£20.45
34,Australian Dollar,A$ 39.55 at -10%,£20.61,£20.61
35,Israeli New Shekel,₪99.85 at -10%,£21.00,£21.00
36,U.S. Dollar,$26.99 at -10%,£21.36,£21.36
37,Norwegian Krone,"301,50 kr at -10%",£22.27,£22.27
38,Euro,"26,09€ at -10%",£22.39,£22.39
39,Polish Zloty,"125,09zł at -10%",£25.07,£25.07
40,Swiss Franc,CHF 30.15 at -10%,£26.50,£26.50

In [18]:
# Add a 'Game' column to each DataFrame
pricing_palworld['Game'] = 'Palworld'
pricing_craftopia['Game'] = 'Craftopia'
pricing_lethal['Game'] = 'Lethal'

# Combine all pricing DataFrames into one
pricing_combined = pd.concat([pricing_palworld, pricing_craftopia, pricing_lethal], ignore_index=True)
pricing_combined

,Currency,Current Price,Converted Price,Lowest Recorded Price,Game
0,British Pound,£22.49 at -10%,£22.49,£22.49 at -10%,Palworld
1,South Asia - USD,$9.44 at -10%,£7.47,£7.47,Palworld
2,Russian Ruble,990 ₽ at -10%,£8.47,£8.47,Palworld
3,South African Rand,R 243.00 at -10%,£10.31,£10.31,Palworld
4,CIS - U.S. Dollar,$13.04 at -10%,£10.32,£10.32,Palworld
...,...,...,...,...,...
118,U.S. Dollar,$9.99,£7.90,£5.53,Lethal
119,Norwegian Krone,"110,00 kr",£8.12,£5.68,Lethal
120,Euro,"9,75€",£8.36,£5.85,Lethal
121,Polish Zloty,"45,99zł",£9.21,£6.45,Lethal
122,Swiss Franc,CHF 10.99,£9.66,£6.76,Lethal

In [19]:
def clean_price(price):
    # This function removes any non-numeric characters but keeps decimal points and commas
    return ''.join([c for c in price if c.isdigit() or c == '.' or c == ','])

# Apply the cleaning function to necessary columns
pricing_combined['Current Price'] = pricing_combined['Current Price'].apply(clean_price)
pricing_combined['Converted Price'] = pricing_combined['Converted Price'].apply(clean_price)
pricing_combined['Lowest Recorded Price'] = pricing_combined['Lowest Recorded Price'].apply(clean_price)
pricing_combined

,Currency,Current Price,Converted Price,Lowest Recorded Price,Game
0,British Pound,22.4910,22.49,22.4910,Palworld
1,South Asia - USD,9.4410,7.47,7.47,Palworld
2,Russian Ruble,99010,8.47,8.47,Palworld
3,South African Rand,243.0010,10.31,10.31,Palworld
4,CIS - U.S. Dollar,13.0410,10.32,10.32,Palworld
...,...,...,...,...,...
118,U.S. Dollar,9.99,7.90,5.53,Lethal
119,Norwegian Krone,"110,00",8.12,5.68,Lethal
120,Euro,"9,75",8.36,5.85,Lethal
121,Polish Zloty,"45,99",9.21,6.45,Lethal
122,Swiss Franc,10.99,9.66,6.76,Lethal

In [20]:
pricing_combined['Current Price'] = pd.to_numeric(pricing_combined['Current Price'], errors='coerce')
pricing_combined['Converted Price'] = pd.to_numeric(pricing_combined['Converted Price'], errors='coerce')
pricing_combined['Lowest Recorded Price'] = pd.to_numeric(pricing_combined['Lowest Recorded Price'], errors='coerce')
pricing_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Currency               123 non-null    object
 1   Current Price          108 non-null    float64
 2   Converted Price        123 non-null    float64
 3   Lowest Recorded Price  123 non-null    float64
 4   Game                   123 non-null    object
dtypes: float64(3), object(2)
memory usage: 4.9+ KB

In [21]:
# Rename the columns
pricing_combined = pricing_combined.rename(columns={
    'Converted Price': 'Converted Price in Pounds',
    'Lowest Recorded Price': 'Lowest Recorded Price in Pounds'
})

pricing_combined

,Currency,Current Price,Converted Price in Pounds,Lowest Recorded Price in Pounds,Game
0,British Pound,22.491,22.49,22.491,Palworld
1,South Asia - USD,9.441,7.47,7.470,Palworld
2,Russian Ruble,99010.000,8.47,8.470,Palworld
3,South African Rand,243.001,10.31,10.310,Palworld
4,CIS - U.S. Dollar,13.041,10.32,10.320,Palworld
...,...,...,...,...,...
118,U.S. Dollar,9.990,7.90,5.530,Lethal
119,Norwegian Krone,NaN,8.12,5.680,Lethal
120,Euro,NaN,8.36,5.850,Lethal
121,Polish Zloty,NaN,9.21,6.450,Lethal
122,Swiss Franc,10.990,9.66,6.760,Lethal

# Save the final datasets

In [22]:
# Save DataFrames to CSV
df_combined.to_csv('combined_reviews.csv', index=False)
pricing_combined.to_csv('combined_pricing.csv', index=False)
combined_info.to_csv('combined_game_info.csv', index=False)